/* line 3, ../../sass/common/base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 8, ../../sass/common/base.scss */
body {
  font-family: webfont, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 15, ../../sass/common/base.scss */
.viewport {
  position: absolute;
  width: Rem(750);
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  min-height: 100%;
}
/* line 28, ../../sass/common/base.scss */
.viewport .bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
/* line 35, ../../sass/common/base.scss */
.viewport .bg.light-dark {
  background-color: #fbfbfb;
}
/* line 39, ../../sass/common/base.scss */
.viewport .bg.dark {
  background-color: #f5f5f5;
}

/* line 45, ../../sass/common/base.scss */
.center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
